<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="shortcut icon" type="image/png" href="/images/fav.png" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="indexcss.css">


    <!-- New stuff   -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href="lame.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>



    <title>Bad Roads</title>
    <style>




    .loggo{
    height: 1%;
     width:100%;
    }

    @import url('https://fonts.googleapis.com/css?family=Roboto');
.image-card{
  height: 33rem;
  width: 26.5rem;
  background: #fff;
  font-family: Roboto;
  display: block;
  position: relative;
  top: 150px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  overflow: auto;
}



.card{
    height: 28.5rem;
    width: 25rem;
}
.card-body{
  height: 5rem;

}


.card-img-top{
    height: 25rem;
    width: 25rem;
    position: relative;
    top: 55px;

}


.media img{
    width:44px;
    height:44px;
    border-radius: 54px;
    margin-top: 4;
    margin-right:4;
    margin-left: 6;
}
h6{
    padding:2px ;
    margin: 0;
}
.media-location{
    padding: 2px;
}



.commentText  {
    margin:0;


}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    margin-top: 35;
    margin-left: -20;
    width: 25rem;
    border-top:1px;
    padding:1.5px;

}

/*button*/
.mono{
    position: relative;
    left: 140px;
    bottom: -555px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}

.btn-circle {
    position: fixed;
    width: 30px;
    height: 30spx;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}


body { background-image:url('/images/droga.png'); background-repeat:repeat; background-attachment: fixed;}

    </style>

    <script>{{#if user}}
    swal({
      title: "You are Logged In! ✅",
      text: "Now you can upload the bad roads!",
      icon: "success",
      button: "👍🏻",
    });
    {{/if}}

</script>

<!--
<div class="sharethis-inline-share-buttons"></div>
<script>
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/144852/script.js');
</script>

-->

<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5b4220ff3cd9e600119c77a2&product=sticky-share-buttons' async='async'></script>



  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/api">
        <img src="/images/loggo1.png"/ class="loggo">
      </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
     <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

       <li class="nav-item active">
         <a class="nav-link mx-2" href="/api">Home <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
         <a class="nav-link mx-2 " href="/api1/about">About</a>
       </li>
       <li class="nav-item">
         <a class="nav-link mx-2 " href="/api1/allbadroads">All the bad roads</a>
       </li>
       {{#unless user}}
       <li class="nav-item">
         <a class="nav-link mx-2" href="/api/register">Register</a>
       </li>
       <li class="nav-item">
         <a class="nav-link mx-2" href="/api/login">Login</a>
       </li>
       {{/unless}}

       {{#if user}}



       <li class="nav-item">
         <a class="nav-link mx-2" href="/api/profile">Profile</a>
       </li>
       <li class="nav-item">
         <a class="nav-link mx-2" href="/api/contact">Contact Us</a>
       </li>
       <li class="nav-item">
         <a class="nav-link mx-2" href="/api/donate">Donate Us</a>
       </li>


     <li class="nav-item">
       <a class="nav-link mx-2" href="/api/logout">Logout</a>
     </li>
     {{/if}}
     </ul>
     <div class="floatright">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
     </div>
   </div>
        </div>


   </nav>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
   <link rel="stylesheet" href="lame.css">
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>



   <!--UPLOAD BUTTON--->
   <div class="mono">
     <a href="/api/addbadroad">
   <button   type="button" class="btn btn-warning btn-circle btn-xl"><i class="fas fa-upload"></i></button>
   </a>
   </div>
   <!--uPLOAD BUTTON ENDS-->


   <!---Entire image card------->


   <div class="image-card">

   <div class="card" >

     <span class="badge badge-success">{{users.[0].services.[0].status}}</span>
     <br />
    <!--username and location---->

    <div class="media">
     <div class="media-left">
       <a href="#">
          <img class="media-object img-responsive" src="/images/profilepics/{{ users.[0].profileimage }}"  alt="...">
       </a>
     </div>
     <div class="media-body">


       <h5 class="media-heading" style="font-family: 'Bungee Inline', cursive;"><strong>{{users.[0].username}}</strong></h5>

       <div class="media-location">
       <a href="/api1/allbadroads">location</a>
         </div>

     </div>

   </div>
    <!--username and location ends---->


    <!--Image comes here(100px 180px)---->
  <img class="card-img-top" src="/images/badpics/{{ users.[0].services.[0].badpic }}" alt="Card image cap">
     <!--Image ends here(100px 180px)---->

     <!--Description and date------->
     <div class="card-body">
         <div class="actionBox">



                   <div class="commentText">
                       <p class="">
                         <br /><br />

                    <h3>Description:-</h3>{{users.[0].services.[0].description}}
                  </p> <span class="date sub-text">on May 20th, 2018</span>
                       </div>

       </div>
   </div>

       </div>

   </div>
   <div class="sharethis-inline-reaction-buttons"></div>

<!-- END -->



<!---Entire image card------->
<div class="image-card">
<div class="card" >
  <span class="badge badge-warning">{{users.[1].services.[0].status}}</span>
  <br />
 <!--username and location---->

 <div class="media">
  <div class="media-left">
    <a href="#">
       <img class="media-object img-responsive" src="/images/profilepics/{{ users.[1].profileimage }}"  alt="...">
    </a>
  </div>
  <div class="media-body">


    <h5 class="media-heading" style="font-family: 'Bungee Inline', cursive;"><strong>{{users.[1].username}}</strong></h5>

    <div class="media-location">
    <a href="/api1/allbadroads">location</a>
      </div>

  </div>

</div>
 <!--username and location ends---->



 <!--Image comes here(100px 180px)---->
<img class="card-img-top" src="/images/badpics/{{ users.[1].services.[0].badpic }}" alt="Card image cap">

  <!--Image ends here(100px 180px)---->

  <!--Description and date------->
  <div class="card-body">
      <div class="actionBox">



                <div class="commentText">
                    <p class="">
                      <br /><br />

                 <h3>Description:-</h3>{{users.[1].services.[0].description}}
               </p> <span class="date sub-text">on March 6th, 2018</span>

                    </div>

    </div>
</div>

    </div>
</div>

<!-- END -->





<!---Entire image card------->
<div class="image-card">
<div class="card" >
  <span class="badge badge-success">{{users.[1].services.[1].status}}</span>
  <br />

 <!--username and location---->

 <div class="media">
  <div class="media-left">
    <a href="#">
       <img class="media-object img-responsive" src="/images/profilepics/{{ users.[1].profileimage }}"  alt="...">
    </a>
  </div>
  <div class="media-body">


    <h5 class="media-heading" style="font-family: 'Bungee Inline', cursive;"><strong>{{users.[1].username}}</strong></h5>

    <div class="media-location">
    <a href="/api1/allbadroads">location</a>
      </div>

  </div>

</div>
 <!--username and location ends---->


 <!--Image comes here(100px 180px)---->
<img class="card-img-top" src="/images/badpics/{{ users.[1].services.[1].badpic }}" alt="Card image cap">
  <!--Image ends here(100px 180px)---->

  <!--Description and date------->
  <div class="card-body">
      <div class="actionBox">



                <div class="commentText">
                    <p class="">
                      <br /><br />

                 <h3>Description:-</h3>{{users.[1].services.[1].description}}
               </p> <span class="date sub-text">on June 5th, 2018</span>
                    </div>

    </div>
</div>

    </div>
</div>


<!-- END -->






<!---Entire image card------->
<div class="image-card">
<div class="card" >
  <span class="badge badge-info">{{users.[2].services.[0].status}}</span>
  <br />
 <!--username and location---->

 <div class="media">
  <div class="media-left">
    <a href="#">
       <img class="media-object img-responsive" src="/images/profilepics/{{ users.[2].profileimage }}"  alt="...">
    </a>
  </div>
  <div class="media-body">


    <h5 class="media-heading" style="font-family: 'Bungee Inline', cursive;"><strong>{{users.[2].username}}</strong></h5>

    <div class="media-location">
    <a href="/api1/allbadroads">location</a>
      </div>

  </div>

</div>
 <!--username and location ends---->


 <!--Image comes here(100px 180px)---->
<img class="card-img-top" src="/images/badpics/{{ users.[2].services.[0].badpic }}" alt="Card image cap">
  <!--Image ends here(100px 180px)---->

  <!--Description and date------->
  <div class="card-body">
      <div class="actionBox">



                <div class="commentText">
                    <p class="">
                      <br /><br />

                 <h3>Description:-</h3>{{users.[2].services.[0].description}}
               </p> <span class="date sub-text">on March 5th, 2018</span>
                    </div>

    </div>
</div>

    </div>
</div>


<!-- END -->







</body>
</html>
