<html>

<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/css/bootstrap.min.css" rel="stylesheet" >
<link href="/css/styles.css" rel="stylesheet" >
<script src="jquery/jquery-3.3.1.min.js"> </script>


</head>
<body>

  <script src="js/popper.min.js"> </script>
  <script src="js/bootstrap.min.js"> </script>





 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" href="index.html">Bad Roads</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" href="/api/">Home <span class="sr-only">(current)</span></a>
       </li>
       <!--<li class="nav-item">
         <a class="nav-link" href="post.html">Post a Website</a>
       </li> -->
       <li class="nav-item">
         <a class="nav-link" href="/api/allbadroads">All Bad Roads</a>
       </li>

 {{#unless user}}
       <li class="nav-item">
         <a class="nav-link" href="/api/register">Sign-up</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/api/login">Login</a>
       </li>
 {{/unless}}
 {{#if user}}
 <li class="nav-item">
 <a class="nav-link" href="/api/addbadroad">Add a Bad Road</a>
 </li>
   <li class="nav-item">
   <a class="nav-link" href="/api/profile">Profile</a>
   </li>
   <li class="nav-item">
   <a class="nav-link" href="/api/uploads">My uploads</a>
   </li>
   <li class="nav-item">
   <a class="nav-link" href="/api/contact">Contact Us</a>
   </li>
   <li class="nav-item">
   <a class="nav-link" href="/api/donate">Donate Us</a>
   </li>
 {{/if}}
   </ul>
     <form class="form-inline my-2 my-lg-0">
       {{#if user}}
      <a class="nav-link disabled" href="/api/logout">Logout</a>
      {{/if}}
       <input class="form-control mr-sm-2" type="text" placeholder="Search">
       <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
     </form>
   </div>
 </nav>


<h2>Your Uploads:-</h2>
<div>
<div class="inl">
   <h4>{{{ user.[0].description }}}</h4>
     <img src="/images/badpics/{{ user.[0].badpic.[0] }}" alt=""/>
   </div>
   <br />
<div class="inl">
    <h4> {{{ user.[1].description }}}</h4>
      <img src="/images/badpics/{{ user.[1].badpic.[0] }}" alt=""/>
    </div>
    <br />
<div class="inl">
    <h4> {{{ user.[2].description }}}</h4>
      <img src="/images/badpics/{{ user.[2].badpic.[0] }}" alt=""/>
    </div>
    <br />
    <div class="inl">
      <h4> {{{ user.[3].description }}}</h4>
        <img src="/images/badpics/{{ user.[3].badpic.[0] }}" alt=""/>
      </div>
      <br />

      <div class="inl">
        <h4> {{{ user.[4].description }}}</h4>
          <img src="/images/badpics/{{ user.[4].badpic.[0] }}" alt=""/>
        </div>
        <br />
        <div class="inl">
          <h4> {{{ user.[5].description }}}</h4>
            <img src="/images/badpics/{{ user.[5].badpic.[0] }}" alt=""/>
          </div>
          <br />
          <div class="inl">
          <h4> {{{ user.[6].description }}}</h4>
              <img src="/images/badpics/{{ user.[6].badpic.[0] }}" alt=""/>
            </div>
            <br />

            <div class="inl">
              <h4> {{{ user.[7].description }}}</h4>
                <img src="/images/badpics/{{ user.[7].badpic.[0] }}" alt=""/>
              </div>
              <br />
              <div class="inl">
                <h4> {{{ user.[8].description }}}</h4>
                  <img src="/images/badpics/{{ user.[8].badpic.[0] }}" alt=""/>
                </div>
                <br />
                <div class="inl">
                  <h4> {{{ user.[9].description }}}</h4>
                    <img src="/images/badpics/{{ user.[9].badpic.[0] }}" alt=""/>
                  </div>

</div>
<h3> Your Bad Road Locations on Map:-</h3>
<div id="map" style="height:500px;width:100%;display:inline-block;"></div>

<script>

function initMap(){
  // Map Options
  var options={
    zoom:10,
    center: {lat :17.3850, lng: 78.4867 }
  }
  //New Map
  var map=new google.maps.Map(document.getElementById('map'),options);

var image = '../images/pot.png';


var k,i,cords=[{{user.[0].location.[0]}},{{user.[0].location.[1]}},{{user.[1].location.[0]}},{{user.[1].location.[1]}},{{user.[2].location.[0]}},{{user.[2].location.[1]}},{{user.[3].location.[0]}},{{user.[3].location.[1]}},{{user.[4].location.[0]}},{{user.[4].location.[1]}},{{user.[5].location.[0]}},{{user.[5].location.[1]}},{{user.[6].location.[0]}},{{user.[6].location.[1]}},{{user.[7].location.[0]}},{{user.[7].location.[1]}},{{user.[8].location.[0]}},{{user.[8].location.[1]}},{{user.[9].location.[0]}},{{user.[9].location.[1]}}];
k=0;
i=0;


for(i=0;i<=18;i=i+2){
addMarker({ lat : cords[i], lng : cords[i+1]});
}


addMarker()
function addMarker(coords){
  var marker = new google.maps.Marker({
    position:coords,
    map:map,
    icon:image
})
}
}

</script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPL_QUZ5EDYFX5jLABjwMXxbL7bf74WUs&callback=initMap" async defer></script>




</body>
</html>
